@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;700&display=swap');

/****************
BASIC STYLES
****************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.hidden {
    display: none;
}
img {
    max-width: 100px;
    height: 100px;
    position: absolute;
    left: -818px;
    top: 230px;
}
body {
    font-family: 'Trispace', sans-serif;
    font-size: 18px;
    height: 100vh;
    background-image: linear-gradient(to top left, #8aefd8 0%, #Cebb3c 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

main {
    display: flex;
    justify-content: space-around;
    background-color: rgba(234, 29, 14, 0.35);
    backdrop-filter: blur(200px);
    width: 80%;
    text-align: center;
    margin: auto;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 0 20px;
    overflow: hidden;
}
.player {
    flex: 50%;
}
.player--winner {
    background-color:#4c81e2;
}
.player--active {
    background-color: rgba(243, 7, 11, 0.4);
    transition: all 0.5s;
}
.name {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 100px;
}
.score {
    color: #73f307;
    font-size: 60px;
    margin-top: 30px;
}
.winner {
    margin-top: 30px;
}
.current {
    background-color: #ffb366;
    border-radius: 15px;
    margin: 100px auto 0 auto;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 30%;
}
.current p:last-child {
    font-size: 30px;
    margin-top: 20px;
}
.btnsImg {
    position: relative;
}
.btn {
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
}
.new {
    position: absolute;
    left: -860px;
    top: 110px;
}
.roll {
    position: absolute;
    left: -860px;
    top: 450px;
}
.hold {
    position: absolute;
    left: -836px;
    top: 550px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 768px) {
    .current {
        margin: 120px auto 0 auto;
        padding: 15px;
        letter-spacing: 0px;
        width: 80%;
    }
    .main {
        height: 100vh;
        overflow: auto;
    }
    .btnsImg {
        position: inherit;
    }
    .new {
        left: 115px;
        top: 115px;
    }
    .roll {
        left: 115px;
        top: 640px;
    }
    .hold {
        left: 135px;
        top: 730px;
    }
    .winner {
        margin: 30px auto 30px auto;
        font-size: 18px;
    }
    img {
        max-width: 80px;
        height: 80px;
        position: absolute;
        left: 166px;
        top: 400px;
    }
}