@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;700&display=swap');

/****************
BASIC STYLES
****************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100px;
    height: 100px;
    position: absolute;
    left: -818px;
    top: 230px;
}
body {
    font-family: 'Trispace', sans-serif;
    font-size: 18px;
    height: 100vh;
    background-image: linear-gradient(to top left, #ff9933 0%, #804000 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    
}

main {
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.35);
    backdrop-filter: blur(200px);
    width: 80%;
    text-align: center;
    margin: auto;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 0 20px;
    overflow: hidden;
}
.player {
    flex: 50%;
}
.active {
    background-color: rgba(128, 128, 128, 0.4);
}
.name {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 100px;
}
.score {
    color: #ffb366;
    font-size: 60px;
    margin-top: 30px;
}
.current {
    background-color: #ffb366;
    border-radius: 15px;
    margin: 150px auto 0 auto;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 30%;
}
.current p:last-child {
    font-size: 30px;
    margin-top: 20px;
}
.btnsImg {
    position: relative;
}
.btn {
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
}
.new {
    position: absolute;
    left: -860px;
    top: 110px;
}
.roll {
    position: absolute;
    left: -860px;
    top: 450px;
}
.hold {
    position: absolute;
    left: -836px;
    top: 550px;
}